* {
  box-sizing: border-box;
  margin: 0;
  font-family: Helvetica, sans-serif;
}

html,
body {
  height: 100%;
  background-color: greenyellow;
}

.row {
  display: flex;
  flex-wrap: wrap;

}

.full {
  height: 100%;
}

.hgt250 {
  height: 250px;
}

.col {
  width: 8.3333%;
  min-height: 100px;
  height: auto;
}

.col-2 {
  width: calc(2 * 8.3333%);
}

.col-3 {
  width: calc(3 * 8.3333%);
}

.col-4 {
  width: calc(4 * 8.3333%);
}

.col-5 {
  width: calc(5 * 8.3333%);
}

.col-6 {
  width: calc(6 * 8.3333%);
}

.col-7 {
  width: calc(7 * 8.3333%);
}

.col-8 {
  width: calc(8 * 8.3333%);
}

.col-9 {
  width: calc(9 * 8.3333%);
}

.col-10 {
  width: calc(10 * 8.3333%);
}

.col-11 {
  width: calc(11 * 8.3333%);
}

.col-12 {
  width: calc(12 * 8.3333%);
}

.gray {
  color: gray;
}

.yellow {
  color: rgb(131, 131, 38);
}

.green {
  color: green
}

.orange {
  color: orange;
}

.red {
  color: red;
}

.white {
  color: white;
}

.pink {
  color: rgb(197, 0, 33);
}

.black {
  color: black;
}

.blue {
  color: blue;
}

.purple {
  color: purple;
}

.mario {
  padding-top: 165px;
  position: fixed;
  bottom: 11%;
  float: left;
}

.banner {
  background-image: url(../Materials/Banner-2.png);
  background-size: cover;
}

.ref {
  font-size: 20px;
  text-align: center;
  vertical-align: bottom;
}
.space{
  border: solid black;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 10px;
}

.bottom {
  position: absolute;
  background-image: url(../Materials/Bottom.jpg);
  background-size: cover;
}

a:link {
  color: blue;
}

a:visited {
  color: blue;
}

.titlehead {
  text-align: center;
}

.wall {
  background-image: url(../Materials/wall-2.jpg);
  background-size: cover;
}
.wall-1 {
  background-image: url(../Materials/wall-1.jpg);
  background-size: cover;
}


.wallhead {
  background-image: url(../Materials/wallh-1.jpg);
  background-size: cover;
}

.gifs {
  float: left;
}

.content {

  min-height: 110px;
  float: unset;
  color: red;
  vertical-align: middle;
 
}
.border{
  border: double blue;
}